 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 *{
   box-sizing: border-box;
 }
 html, body{
   height: 100%;
   width:100%;
 }
 body{
   font-family:"Roboto";
 }
 .post-1 {
   background: #F3D250;
 }
 .post-2 {
   background: #8D8741;
 }
 .post-3 {
   background: #659DBD;
 }
 .post-4 {
   background: #DAAD86;
 }
 .image-1{
   background-image: url(../img/post1.jpg);
   background-size: cover;
   background-position: center;
 }
 .image-2{
   background-image: url(../img/post2.jpg);
   background-size: cover;
   background-position: center;
 }
 .image-3{
   background-image: url(../img/post3.jpg);
   background-size: cover;
   background-position: center;
 }
 .image-4{
   background-image: url(../img/post4.jpg);
   background-size: cover;
   background-position: center;
 }
 .l-image-1{
   background-image: url(../img/news1.jpg);
   background-size: cover;
   background-position: center;
 }
 .l-image-2{
   background-image: url(../img/news2.jpg);
   background-size: cover;
   background-position: center;
 }
 header{
   max-width:640px;
   margin:0 auto;
 }
 .header-navigation{
   display: flex;
   background-color: #99ccff;
   height:53px;
   align-items: center;
   justify-content: space-between;
   padding:0 30px 0 10px;
   overflow: hidden;
 }
 .header-navigation nav {
   height: 100%;
   display: flex;
 }
 .header-navigation nav a{
   display: flex;
   align-items: center;
   color:white;
   text-decoration: none;
   font-size:0.65rem;
 }
 .header-navigation nav a{
   padding: 0 10px;
 }
 .header-navigation nav a:hover{
   background-color: #162b4d;
 }
 .header-navigation h1 {
   font-weight: 100;
   font-size: 1.3rem;
   color:white;
 }
 .header-navigation h1:hover {
   opacity: 0.3;
 }
 .header-navigation h1 span{
   color:#162b4d;
 }
 .header-content{
   margin-top: 12px;
   height: 238px;
   background-image: url(../img/section1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left 100%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-end;
   padding: 0 0 68px 15px;
   color:white;
 }
 .header-content p{
   font-size:0.44rem;
   max-width: 610px;
   line-height: 1.5;
   color:white;
   font-weight: 400;
   margin-bottom: 5px;
 }
 .header-content h1{
   margin-bottom: 5px;
   font-weight: 100;
 }
 .bars{
   display: none;
   width:20px;
   margin:0 auto;
   margin-top:15px;
 }
 .bars span{
   display:block;
   border:1px solid white;
   border-radius: 5px;
   margin-top:3px;
 }
 main{
   max-width:640px;
   margin:0 auto;
   margin-top: 10px;
   display: flex;
 }
 .r-side{
   max-width: 875px;
   margin-right: 10px;
   margin-left: 25px;
 }
 .post-link{
   display: block;
   text-decoration: none;
 }
 .block_2:hover,
 .post-content:hover{
   opacity: 0.5;
 }
 .l-side{
   margin-right: 20px;
 }
 .r-side .post{
   display: flex;
 }
 .post .block_1{
   flex-basis:185px;
 }
 .post .block_2{
   position: relative;
 }
 .post-link:nth-child(odd) .date_publish{
   text-align:center;
   position:absolute;
   top:10px;
   right:5px;
   color:#484848;
   font-weight: 100;
 }
 .post-link:nth-child(even) .date_publish{
   text-align:center;
   position:absolute;
   top:10px;
   left:5px;
   color:#484848;
   font-weight: 100;
 }
 .date_publish span{
   display: block;
   font-size:0.9rem;
 }
 .date_publish .date{
   font-size: 1.7rem;
   margin-bottom: 8px;
 }
 .r-side .post-link:nth-child(odd) .block_2{
   flex:1;
   padding:10px 40px 40px 8px;
 }
 .r-side .post-link:nth-child(even) .block_2{
   order:-1;
   text-align: right;
   flex:1;
   padding:10px 8px 40px 40px;
 }
 .r-side .post .block_2 h1{
   color:#484848;
   font-size:0.9rem;
   font-weight: 100;
   margin-bottom: 10px;
 }
 .r-side .post .block_2 p{
   font-size:0.44rem;
   line-height: 1.7;
   color:#484848;
   font-weight: 400;
 }
 .l-side .post{
   background-color: white;
   display: flex;
   flex-flow:column nowrap;
   width:215px;
 }
 .l-side .image-block{
   flex-basis:140px;
 }
  .l-side .post:not(:first-child){
   margin-top: 12px;
 }
 .post-content h1{
   font-size:1rem;
   font-weight: 300;
   margin-bottom: 9px;
 }
 .post-content p{
   color:#484848;
   font-size:0.45rem;
   line-height: 1.7;
   font-weight: 400;
 }
 .l-side .post-content{
   padding:20px 15px 15px 15px;
   border: 1px solid;
 }
 input[type=submit]{
  background-color: white;
  border: 1px solid;
  border-color: #484848;
  color: #484848;;
  padding: 5px 5px;
  text-decoration: none;
  margin-top:15px;
  cursor: pointer;
  font-size: 0.4rem;
 }
 footer{
   max-width:640px;
   margin:0 auto;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   background-color: #162b4d;
   padding:15px;
 }
 footer p{
   color:grey;
   font-size:0.5rem;
   line-height: 1.7;
   font-weight: 400;
 }
 footer .author{
   width:75px;
 }
 @media (min-width:481px) and (max-width: 768px){
   body{
     padding:10px;
     padding-top: 0;
   }
   .header-navigation{
     display:block;
     height: auto;
   }
   .bars{
     display: block;
   }
   .header-navigation nav{
     display: none;
   }
   .header-navigation h1{
     text-align:center;
     padding:30px 0;
   }
   .r-side .post{
     flex-flow:column nowrap;
   }
   .r-side{
     margin-left: 10px;
   }
   .r-side .post-link:nth-child(even) .block_2{
     order:0;
     text-align: left;
     padding:15px 25px 25px 15px;
   }
   .r-side .post-link:nth-child(odd) .block_2{
     padding:15px 25px 25px 15px;
   }
   .date_publish span{
     display: inline-block;
   }
   .post-link:nth-child(even) .date_publish{
     position:relative;
   }
   .post-link:nth-child(odd) .date_publish{
     position:relative;
   }
   .post .block_1{
     flex-basis:210px;
   }
   .l-side .image-block{
     flex-basis:150px;
   }

   .l-side .post{
     width: 130px;
     margin-right: -10px;
   }
   footer{
     display:block;
     text-align:center;
     margin-bottom: 10px;
   }
    footer .author{
      width: auto;
   }
 }
 @media (max-width:480px){
   body{
     padding:10px;
     padding-top: 0;
   }
   .post-link:last-child .block_2{
     display: block;
   }
   .header-navigation{
     display:block;
     height: auto;
   }
   .bars{
     display: block;
   }
   .header-navigation nav{
     display: none;
   }
   .header-navigation h1{
     text-align:center;
     padding:30px 0;
   }
  .post .block_1{
    flex-basis:200px;
   }
   .l-side .image-block{
     flex-basis:180px;
   }
   main{
     flex-flow:column nowrap;
   }
   .r-side {
     margin-left: 2px;
     margin-right: 2px;
   }
   .r-side .post{
     flex-flow:column nowrap;
   }
   .r-side .post-link:nth-child(even) .block_2{
     order:0;
     text-align: left;
     padding:15px 15px 25px 18px;
   }
   .r-side .post-link:nth-child(odd) .block_2{
     padding:15px 15px 25px 18px;
   }
   .l-side .post{
     margin-top: 10px;
     width:auto
   }
   .l-side{
     margin-left: 2px;
     margin-right: 2px;
   }
   .date_publish span{
     display: inline-block;
   }
   .post-link:nth-child(even) .date_publish{
     position:relative;
   }
   .post-link:nth-child(odd) .date_publish{
    position:relative;
   }
   footer{
     display:block;
     text-align:center;
     margin-bottom: 10px;
   }
    footer .author{
     width:auto;
   }
 }
