html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
  background-color: #0b013c;
}
h2{
 font-family:' Open Sans', sans-serif;
 font-size:2.2rem;
 justify-content: center;
 font-weight: bold;
 margin-bottom: 20px;
 text-align: center;
}
h6{
 font-family:' Roboto', sans-serif;
 font-weight: bold;
 justify-content: center;
 margin-bottom: 20px;
 text-align: center;
}

p{
 font-family:' Open Sans', sans-serif;
 line-height: 1.5;
 justify-content: center;
 text-align: center;
 font-style: italic;
}
.header-main-body{
	max-width:1140px;
	margin:0 auto;
	display: flex;
	padding:100px 50px;
	width:100%;
  background-color: #0b013c;
}
.header-main-body .wrap{
	height: 100%;
	display: flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items: baseline;
	text-align:left;
}
.wrap{
	position: relative;
}
.wrap h1,
.wrap h4,
.wrap p,
.wrap input,
.wrap a{
	position: absolute;
	margin-left: 50px;
	margin-right: 680px;
}


.wrap img{
	width: 100%;
	margin-bottom: -100px;
	margin-top: -100px;
	margin-right: 300px;
}

.header-main-body h1{
  font-family:' Roboto', sans-serif;
	color:#FFFFFF ;
	font-size:5.5rem;
	font-weight:bold;
	margin-bottom: 140px;
}
.header-main-body h4{
  font-family:' Roboto', sans-serif;
	margin-top: 5px;
	color:#FFFFFF;
	letter-spacing: 0.1rem;
	font-size:1.1rem;
}
.header-main-body h3{
  font-family:'Open Sans', sans-serif;
	margin-top: 5px;
	color:#FFFFFF;
	letter-spacing: 0.1rem;
	font-size:1.4rem;
}
.header-main-body p{
  font-family:' Roboto', sans-serif;
  text-align: justify;
	color:#FFFFFF;
	margin-top: 130px;
}
input[type=submit] {
  background-color: #f8cb8a;
  color: #111111;
  padding: 12px 30px;
  border: none;
	margin-top: -70px;
	margin-left: 420px;
}
input[type=submit]:hover {
  background-color: #f6bb66;
}
input[type=text] {
	width: 15%;
  padding: 12px 180px;
	padding-left: 10px;
	border: none;
	resize: vertical;
	margin-top: -70px;
}
.wrap a{
	display: block;
	text-align: center;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	padding: 10px;
	margin-top: -450px;
	outline: none;
  text-decoration: none;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	background-color: #fefaf3;
}
.main-bg{
	width:100%;
  background-color: #fefaf3;
	max-width:1140px;
	margin:0 auto;
	display: flex;
	padding:100px 50px;
}
.main-wrap{
  max-width:1140px;
  margin-left:130px ;
  margin-right: 130px;

}
.main-wrap h2,
.main-wrap h6{
  color: #0b013c;
}
.main-wrap p{
  color:#808080;
}

.main-wrap-1{
	max-width:1140px;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin-bottom: -430px;
	margin-left: 50px;
	margin-top: -80px;
}
.main-wrap-1 img{
  height: 60%;
}
.main-wrap-1 .block-1{
  width:54%;
}
.main-wrap-1 .block-2{
  width: 34%;
  background-color: #FFFFFF;
	margin-bottom: 310px;

}
.main-wrap-1 h3{
  color: #0b013c;
  font-size: 1.3rem;
  margin-top: 30px;
  font-family:' Open Sans', sans-serif;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;

}
.main-wrap-1 h2{
	font-size: 2.5rem;
	color: #0b013c;
	margin-left: 20px;
	margin-right: 40px;
	text-align: left;
}
.main-wrap-1 p{
	color: #808080;
	margin-left: 20px;
	text-align: left;
	margin-right: 27px;
}
 .line-1 hr {
  background-color: #f8cb8a;
  border:none;
  width:25%;
  margin-left: 20px;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-wrap-2{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin-left:30px ;
	margin-bottom: -40px;
}
.main-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left:20px ;
  margin-right: -600px;
}
.main-wrap-2 h4,
.main-wrap-2 p{
	font-size:0.88rem;
	text-align: justify;
	padding-right: 30px;
	padding-left: 10px;
  color:#808080;
	padding-bottom: 20px;
}
.main-wrap-2 h4{
	font-family:' Open Sans', sans-serif;
  line-height: 1.5;
  font-style: italic;
}
.main-flex img{
  height: 40%;
}
.main-flex .block-1{
  width: 45%;
  margin-bottom: -450px;
}
.main-flex .block-2{
  width: 40.3%;
  background-color: #FFFFFF;
}
.main-flex .block-2 p,
.main-flex .block-2 h4{
  margin-top: 20px;
}
.space{
  width:100%;
  background-image: url('../img/space-bg.png');
  background-color: #0b013c;
  background-size:cover;
  background-position: 100% 0;
  }
  .section-wrap{
		max-width:1140px;
		margin:0 auto;
		display: flex;
		padding:100px 50px;
  }
 .section-wrap h2,
 .section-wrap h6,
 .section-wrap p{
  color:#FFFFFF;
 }
 .section-wrap p{
	 margin-left: 145px;
	 margin-right: 145px;
 }
 .section-wrap h2{
   margin-left: 250px;
   margin-right: 250px;
 }
.line hr {
  background-color: #f8cb8a;
  border:none;
  width:10%;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer{
	display: flex;
	justify-content: center;
	background-image: url('../img/footer-bg.jpeg');
  width:100%;
	background-size:cover;
}
footer h2{
  font-family:' Roboto', sans-serif;
	color:#FFFFFF;
	font-size:2.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-wrap{
	max-width:1140px;
	margin:0 auto;
	display: flex;
	padding:100px 50px;
}
.footer-wrap p{
  font-family:' Open Sans', sans-serif;
	line-height: 1.5;
	font-size:1.25rem;
	color:#FFFFFF;

}
.footer-wrap a{
  font-family:' Open Sans', sans-serif;
	line-height: 1.5;
	font-size:1.25rem;
	color:#FFFFFF;

}
.footer-wrap .block-1{
	flex-basis: 500px;
	margin-right: 200px;
  margin-top: 100px;
}
