html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text-style, .header-wrap .header_heading, .section_banner .section_banner_text_wrap .section_banner_heading {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  background-color: #21232e; }

.header {
  background-image: url(../img/m-h-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 15% left 0;
  border-bottom-right-radius: 36%; }

.header-wrap {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px 0 120px 0; }
  .header-wrap .landing-logo {
    display: flex; }
    .header-wrap .landing-logo p {
      color: white;
      margin-top: 3px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-family: "Fresca", sans-serif;
      font-weight: bold;
      font-size: 1.5rem; }
    .header-wrap .landing-logo span {
      margin-top: 5px;
      font-size: 0.65rem;
      font-weight: normal;
      align-self: center; }
    .header-wrap .landing-logo img {
      width: 45px;
      height: 45px; }
  .header-wrap .header_heading {
    margin: 70px 0 0 0;
    font-size: 4.5rem;
    color: white;
    max-width: 500px;
    position: relative;
    z-index: 1; }
    .header-wrap .header_heading::before {
      content: "";
      display: block;
      height: 50px;
      width: 305px;
      top: 95px;
      left: 0px;
      position: absolute;
      z-index: -1;
      background: #ff4e33; }
  .header-wrap .header_text {
    white-space: pre;
    font-family: "Fresca", sans-serif;
    width: 650px;
    text-align: left;
    line-height: 1.8;
    font-size: 1.15rem;
    color: white;
    margin-top: 60px; }
  .header-wrap .header_button {
    border: none;
    background-color: #e3ac00;
    color: white;
    border-radius: 3px;
    padding: 13px 44px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 60px; }
  .header-wrap .login {
    font-size: 1.25rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px; }

.section {
  padding-top: 50px; }
  .section .section_text {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Fresca", sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1; }
    .section .section_text::before {
      content: "";
      position: absolute;
      height: 50px;
      width: 166px;
      top: -10px;
      margin-left: 200px;
      z-index: -1;
      background: #ff4e33; }

.section_card_wrap {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 40px; }

.section_card {
  display: flex;
  background-color: #3b3f50;
  border-radius: 5px;
  padding: 20px; }
  .section_card:not(:last-child) {
    margin-bottom: 25px; }
  .section_card img {
    height: 280px;
    width: auto;
    border-radius: 7px; }
  .section_card img[alt^=content] {
    width: 380px; }
  .section_card img[alt^=experts] {
    width: 400px; }
  .section_card .section_card_right_container {
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 52px;
    max-width: 470px;
    margin: 0 auto;
    display: flex; }
  .section_card .section_card_heading {
    color: white;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 1.5rem; }
  .section_card .section_card_text {
    color: #c0c3ce;
    margin-top: 40px;
    font-size: 1.04rem;
    text-align: justify;
    font-family: "Fresca", sans-serif;
    line-height: 1.8; }
  .section_card .section_link {
    margin-top: 25px;
    font-size: 1rem;
    color: #c0c3ce;
    font-family: 'Source Sans Pro', sans-serif; }

.section_banner {
  max-width: 1200px;
  margin: 140px auto 0 auto;
  background-image: linear-gradient(to right, #db9f08, #932d52);
  border-radius: 5px; }
  .section_banner .section_banner_button {
    float: right;
    margin-top: 45px;
    margin-right: 160px;
    border: none;
    background-color: #e3ac00;
    color: white;
    border-radius: 3px;
    padding: 13px 44px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; }
  .section_banner .section_banner_text_wrap {
    display: inline-block;
    margin: 30px 0 45px 160px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      color: white;
      font-size: 1.8rem;
      margin-bottom: 25px;
      position: relative;
      z-index: 1; }
      .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: "";
        display: block;
        height: 50px;
        width: 65px;
        top: -15px;
        left: 115px;
        position: absolute;
        z-index: -1;
        background: #ff4e33; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      color: #c0c3ce;
      font-family: "Fresca", sans-serif; }

.footer {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: -70px;
  background-color: #3b3f50; }

.footer-wrap {
  max-width: 1320px;
  margin: 130px auto 90px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-wrap .landing-logo {
    display: flex; }
    .footer-wrap .landing-logo p {
      color: #c0c3ce;
      margin-top: 3px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-family: "Fresca", sans-serif;
      font-weight: bold;
      font-size: 1.5rem; }
    .footer-wrap .landing-logo span {
      margin-top: 5px;
      font-size: 0.65rem;
      font-weight: normal;
      align-self: center; }
    .footer-wrap .landing-logo img {
      width: 45px;
      height: 45px; }
  .footer-wrap .footer_text {
    max-width: 290px;
    line-height: 1.2;
    color: #c0c3ce;
    font-family: "Fresca", sans-serif;
    font-size: 0.9rem; }
  .footer-wrap .footer-cr {
    color: #c0c3ce;
    font-family: "Fresca", sans-serif;
    font-size: 0.9rem; }
