@mixin button() {
    background-color: $btnColor;
    padding: 10px 33px;
    font-size: 0.8em;
    font-weight: map-get($font-weights, "medium");
    color: $btnFontColor;
    border-radius: 2px;
}

@mixin headerText($fontSize, $marginTop, $marginBottom, $fontWeight: map-get($font-weights, "bold")) {
    font: $fontSize $headerFont;
    margin-top: $marginTop;
    margin-bottom: $marginBottom;
    font-weight: $fontWeight;
}

h4 {
    @include headerText(1.1rem, 0.7em, 0.47em);
}

.hidden {
    display: none;
}

.user__choice--rock,
.user__choice--paper,
.user__choice--scissors,
.reset {
    @include button();
}

.chosen {
    border: 3px solid $btnColor;
}
