body{
  font-family:'Roboto', sans-serif !important;
}
.nav-link{
  color:#111 !important;
}
.navbar-brand{
  color:#111 !important;
}
.btn-primary{
  background-color:Coral !important;
  border:none !important;
}
.pt-2{
  font-size: 1.1rem !important;
}
.bg-dark{
  color:#fff !important;
}
.bg-light{
  color:#111 !important;
}
