html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.text-style{
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

$format-text: (
  	weight: bold
);

@mixin btn-style{
	border:none;
	background-color: $btn-color;
	color:white;
	border-radius: 3px;
	padding:13px 44px;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}
@mixin logo-block($color){
	display: flex;
	p{
		color:$color;
		margin-top: 3px;
		margin-left: 15px;
		display: flex;
		flex-direction:column;
		justify-content:flex-start;
		font-family: $hind;
		font-weight: bold;
		font-size:1.5rem;
	}
	span{
		margin-top: 5px;
		font-size:0.65rem;
		font-weight: normal;
		align-self:center;
	}
	img{
		width:45px;
		height: 45px;
	}
}
@mixin link-style($size, $color){
	font-size: $size;
	color:$color;
	font-family: 'Source Sans Pro', sans-serif;
}
body{
	background-color: $body-back-color;
}
.header{
	background-image: $back-image;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top 15% left 0;
	border-bottom-right-radius: 36%;
}
.header-wrap{
	max-width: 1320px;
	margin:0 auto;
	padding:10px 0 120px 0;
	.landing-logo{
		@include logo-block($black-text-color);
	}
	.header_heading{
		margin: 70px 0 0 0;
		font-size:4.5rem;
		@extend .text-style;
		color:$black-text-color;
		max-width: 500px;
    position: relative;
    z-index: 1;

  &::before{
    content: "";
    display: block;
		height: 50px;
		width: 305px;
		top: 95px;
		left: 0px;
    position: absolute;
    z-index: -1;
    background:$back-color;
  }
  }
	.header_text{
		white-space: pre;
		font-family: $hind;
		width:650px;
		text-align:left;
		line-height: 1.8;
    font-size:1.15rem;
		color:$black-text-color;
		margin-top:60px;
	}
	.header_button{
		@include btn-style;
    margin-top:60px;
	}
	.login{
		@include link-style(1.25rem, white);
		margin-left: 150px;
	}
}

.section{
	padding-top:50px;
	.section_text{
		text-align:center;
		font-size:2.5rem;
		font-family: $hind;
		font-weight: map-get($format-text, weight);
		color:$black-text-color;
    position: relative;
    z-index: 1;

    &::before{
      content: "";
      position: absolute;
			height: 50px;
      width: $width;
      top: -10px;
      margin-left: $mardin-left;
      z-index: -1;
      background:$back-color;
    }
	}
}
.section_card_wrap{
	max-width:1120px;
	margin:0 auto;
	padding-top:40px;
}
.section_card{
	display: flex;
	background-color: $black-background;
	border-radius: 5px;
	&:not(:last-child){
		margin-bottom: 25px;
	}
	padding:20px;
	img{
		height:280px;
		width:auto;
		border-radius:7px;
		}
		img[alt^=content]{
		 width: 380px;
		}
		img[alt^=experts]{
			width: 400px;
		}
	.section_card_right_container{
		flex-flow: column nowrap;
		align-items:center;
		padding-top:52px;
		max-width:470px;
		margin:0 auto;
		display: flex;
	}
	.section_card_heading{
		color:white;
		font-family: 'Hind', sans-serif;
		font-weight: bold;
		font-size:1.5rem;
	}
	.section_card_text{
		color:$gray-text-color;
		margin-top: 40px;
    font-size:1.04rem;
		text-align:justify;
		font-family: $hind;
		line-height:1.8;
	}
	.section_link{
		margin-top: 25px;
		@include link-style(1rem, $gray-text-color);
	}
}
.section_banner{
	max-width:1200px;
	margin:140px auto 0 auto;
	background-image: linear-gradient(to right, $begin-grad , $end-grad);
	border-radius:5px;

	.section_banner_button{
		float:right;
		margin-top: 45px;
		margin-right: 160px;
		@include btn-style;
	}
	.section_banner_text_wrap{
		display: inline-block;
		margin:30px 0 45px 160px;
		.section_banner_heading{
			color:$black-text-color;
			@extend .text-style;
			font-size:1.8rem;
			margin-bottom: 25px;
      position: relative;
      z-index: 1;

      &::before{
        content: "";
        display: block;
				height: 50px;
				width: 65px;
				top: -15px;
				left: 115px;
        position: absolute;
        z-index: -1;
        background:$back-color;
        }

		}
		.section_banner_text{
			color:$gray-text-color;
			font-family: $hind;
		}
	}
}
.footer{
	position: absolute;
	width:100%;
	z-index: -1;
	margin-top: -70px;
	background-color: $black-background;
}
.footer-wrap{
	max-width: 1320px;
	margin: 130px auto 90px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.landing-logo{
		@include logo-block($gray-text-color);
	}
	.footer_text{
		max-width: 290px;
		line-height: 1.2;
		color:$gray-text-color;
		font-family: $hind;
		font-size:0.9rem;
	}
  .footer-cr{
    color:$gray-text-color;
    font-family: $hind;
		font-size:0.9rem;
  }

}
