$back-text-color: #14a0c7;
$btn-color:#699900;
$gray-text-color:#c0c3ce;
$black-text-color:#2c2f3c;
$black-background:#21232e;
$begin-grad:#679707;
$end-grad:#2d5bd8;
$body-back-color:white;
$back-image:url(../img/m-h-day.jpg);
$hind: 'Hind', sans-serif;
$back-color: #14a0c7;
$mardin-left: 225px;
$width: 180px;
