$back-text-color: #ff4e33;
$btn-color:#e3ac00;
$gray-text-color:#c0c3ce;
$black-text-color:white;
$black-background:#3b3f50;
$begin-grad:#db9f08;
$end-grad:#932d52;
$body-back-color:#21232e;
$back-image:url(../img/m-h-night.jpg);
$hind: 'Fresca', sans-serif;
$back-color: #ff4e33;
$mardin-left: 200px;
$width: 166px;
