﻿* {
  outline: none;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
html,
body,
header,
.container-fluid,
.view {
  height: 95%;
}
.bg-dark{
  background-color: black !important;
}
.bg-secondary{
  background-color: lightgray !important;
}
.bg-white{
  background-color: white !important;
}
.img-circle{
  background-position: center!important;
  border-radius: 30px!important;
  padding: 10px!important;
  width:220px!important;
}
.send{
  width:200px;
  height: 60px;
  background-color: #303030;
  border: none;
  color: white;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin-left: 40%;
  cursor: pointer;;
}
  input[type=text] {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background-color:black;
}
input[type=email] {
width: 100%;
padding: 5px 10px;
box-sizing: border-box;
border: none;
border-bottom: 2px solid white;
background-color:black;
}
.references1{
width: 150px;
height: 150px;
position: absolute;
z-index: -1;
top:95px;
right:110px;
}
.references2{
  left: 50px;
  bottom: 180px;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #663399;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  height: 20px;
  width: 20px;
  background-color: #BA55D3;
  border-radius: 50%;
  display: inline-block;
}
.navbar{
  background-image: url('assets/img/footer-bg.jpg');
}
.linku{
  font-size: 80%;
}
.top-nav-collapse {
  background-color: #78909c !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
.btn-primary{
  border: none !important;
}
 
.hr-light {
  border-top: 3px solid grey;
  width: 70px;
}
.hr-light2 {
  border-top: 3px solid grey;
  width: 40px;
}
.hr-light3 {
  border-top: 3px solid grey;
  width: 100px;
}
.hr-light6 {
  border:1px solid white;
  margin-top: -340px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.hr-light7 {
  border: 1px solid lightgrey;
  margin-top: 600px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
