body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}
p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; }

.tm-site-name {
    font-size: 4rem;
}

.tm-quote {
    font-size: 1.35rem;
    font-style: italic;
    display: block;
}

.container {
    margin-top: 30px;
}

.tm-container-inner {
    margin: 0 auto;
    max-width: 880px;
}

.tm-section {
    position: relative;
    background-color: white;
}

.tm-pricing-discount {
    display: none;
}
.tm-section,
.tm-section-min-h {
    min-height: 400px;
}

.tm-flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-flex-col {
    flex-direction: column;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 47px;
    font-size: 1.15rem;
}

.tm-text-color-white { color: white; }

.tm-font-thin { font-weight: 300; }
.tm-max-w-400 { max-width: 400px; }

.tm-contact-form textarea {
    height: 205px;
}

.tm-pricing-table {
    border: 1px solid black;
    width: 100%;
    max-width: 340px;
}

.tm-pricing-header {
    padding: 20px;
}

.tm-pricing-body {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tm-pricing-header-title {
    font-size: 1.6rem;
}

.tm-feature-list {
    list-style: none;
    margin: 0;
    line-height: 2.4;
    padding: 35px 50px;
}

.tm-form-header {
    padding: 40px 40px 90px;
}

.tm-form-footer {
    padding-top: 100px;
    padding-bottom: 30px;
}

.tm-footer-info-box {
    max-width: 260px;
    margin: 0 auto;
}

.tm-contact-form {
    padding: 68px;
    background: white;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.form-control {
    color: #666;
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 0;
}

.tm-contact-form select {
    width: 100%;
    padding: 15px;
}

.tm-center {
    width: 100%;
    text-align: center;
}

.tm-copyright-text {
    padding: 20px;
    font-size: 1rem;
}

.rounded-circle {
    height: 300px;
    width: 300px;
    background-image: url("../img/image-04.jpg");
    background-position: center;
    background-size: cover;
}
.tm-col-md-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.tm-md-flex-center q{
  font-size: 1rem;
}
.tm-text-color-primary{
  color: #76cdd8;
}
.tm-card q{
  font-size: 1.3rem;
}
.tm-card p{
  font-size: 1.1rem;
}
.tm-md-flex-center p{
  font-size: 1.03rem;

}
 .btn-primary,
 .btn-secondary,
 .tm-bg-color-secondary{
   background:  #019999;
   border:none;
}
.tm-bg-color-primary{
  background: #76cdd8;
  border:none;
}
.tm-form-header{
  background: #24d4d4;
  border:none;
}
.tm-card q:hover{
  color: #76cdd8;
}
.tm-card:hover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 45px solid transparent;
  border-top: 45px solid #76cdd8;
  border-left: 45px solid #76cdd8;
}
.tm-card:hover::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 45px solid transparent;
  border-top: 45px solid #76cdd8;
  border-right: 45px solid #76cdd8;
}
.tm-mb-30,
.row{
  margin-top: 30px;
}
.tm-card,
.tm-contact-form{
  margin-top: 0px;
}
.img-fluid:hover{
  transform: scale(1.1);
}
.tm-pricing-body a:hover{
  background: #24d4d4;
  border:none;
}
.tm-pricing-table:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.pl-xl-0:hover .tm-pricing-discount{
  display: block;
}
.pl-xl-0:hover{
  transform: scale(1,1.1);
}
.tm-pricing-discount__star{
  color: red;
}
.tm-pricing-discount__text{
  color:#24d4d4;
}
.tm-pricing-table{
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-primary:hover{
  background-color: rgb(118, 205, 216);
  border:none;
}
.tm-contact-form{
  z-index: 1;
  margin-top: -60px;
  margin-bottom: -60px;
}
.form-group select:focus,
.form-control:focus{
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-copyright-text{
  z-index: 1;
  margin-top: -30px;
}
