.tm-col-md-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.tm-md-flex-center q{
  font-size: 1rem;
}
.tm-text-color-primary{
  color: #76cdd8;
}
.tm-card q{
  font-size: 1.3rem;
}
.tm-card p{
  font-size: 1.1rem;
}
.tm-md-flex-center p{
  font-size: 1.03rem;

}
 .btn-primary,
 .btn-secondary,
 .tm-bg-color-secondary{
   background:  #019999;
   border:none;
}
.tm-bg-color-primary{
  background: #76cdd8;
  border:none;
}
.tm-form-header{
  background: #24d4d4;
  border:none;
}
.tm-card q:hover{
  color: #76cdd8;
}
.tm-card:hover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 45px solid transparent;
  border-top: 45px solid #76cdd8;
  border-left: 45px solid #76cdd8;
}
.tm-card:hover::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 45px solid transparent;
  border-top: 45px solid #76cdd8;
  border-right: 45px solid #76cdd8;
}
.tm-mb-30,
.row{
  margin-top: 30px;
}
.tm-card,
.tm-contact-form{
  margin-top: 0px;
}
.img-fluid:hover{
  transform: scale(1.1);
}
.tm-pricing-body a:hover{
  background: #24d4d4;
  border:none;
}
.tm-pricing-table:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.pl-xl-0:hover .tm-pricing-discount{
  display: block;
}
.pl-xl-0:hover{
  transform: scale(1,1.1);
}
.tm-pricing-discount__star{
  color: red;
}
.tm-pricing-discount__text{
  color:#24d4d4;
}
.tm-pricing-table{
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-primary:hover{
  background-color: rgb(118, 205, 216);
  border:none;
}
.tm-contact-form{
  z-index: 1;
  margin-top: -60px;
  margin-bottom: -60px;
}
.form-group select:focus,
.form-control:focus{
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-copyright-text{
  z-index: 1;
  margin-top: -30px;
}
